@model MVC.Models.Persona
@{
    ViewBag.Title = "Añadir Registro";
}


<div class="row container-fluid" style="background-color:white; border-radius:5px">
    <h2 class="alinearCentro">@ViewBag.Title</h2>
    <br />
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="row">
            <div class="col-md-2 ">
                <label>Identificación: </label>
            </div>
            <div class="col-md-3">
                @Html.EditorFor(model => model.Identificacion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Identificacion, "", new { @class = "text-danger" })
                <label class="alert-danger"> @ViewBag.repetido </label>
            </div>
            <div class="col-md-2 ">
                <label>Primer Nombre: </label>
            </div>
            <div class="col-md-3">
                @Html.EditorFor(model => model.PrimerNombre, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PrimerNombre, "", new { @class = "text-danger" })
            </div>

        </div>
        <br />
        <div class="row">
            <div class="col-md-2 ">
                <label>Primer Apellido: </label>
            </div>
            <div class="col-md-3">
                @Html.EditorFor(model => model.PrimerApellido, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PrimerApellido, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-2 ">
                <label>Fecha Nacimiento: </label>
            </div>
            <div class="col-md-3">
                
                @Html.EditorFor(model => model.Fecha_de_nacimiento, new { htmlAttributes = new { @class = "form-control", @type="date", @max = ViewBag.fecha} })
                @Html.ValidationMessageFor(model => model.Fecha_de_nacimiento, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-2 ">
                <label>Dirección: </label>
            </div>
            <div class="col-md-3">
                @Html.EditorFor(model => model.Direccion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Direccion, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-2 ">
                <label>Correo: </label>
            </div>
            <div class="col-md-3">
                @Html.EditorFor(model => model.Correo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Correo, "", new { @class = "text-danger" })
            </div>

        </div><br>
        <div class="row">
            <div class="col-md-2 ">
                <label>Teléfono: </label>
            </div>
            <div class="col-md-3">
                @Html.EditorFor(model => model.Telefono, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Telefono, "", new { @class = "text-danger" })
            </div>
            
        </div>
        <br />
        <div class="row">
            <div class="modal-footer">
                <a href="/Usuario" class="btn botonRegresar" id="n"><i class="glyphicon glyphicon-arrow-left"></i>&nbsp;Regresar</a>
                <button class=" btn BotonNuevo"><i class="glyphicon glyphicon-plus"></i>&nbsp;Añadir Registro</button>
            </div>
        </div>


    }

</div>
<br />



