@model MVC.Models.Persona
@{
    Layout = null;
    ViewBag.Title = "Detalles Registro";
}


<div class="row container-fluid" style="background-color:white; border-radius:5px">
    <h4 class="alinearCentro"><b>@ViewBag.Title</b></h4>
    <br />
    <div class="row">
        <div class="col-md-6 ">
            <label>Identificación: </label>   @Html.DisplayFor(model => model.Identificacion)
        </div>
        <div class="col-md-6 ">
            <label>Nombre y Apellido: </label>   @Html.DisplayFor(model => model.PrimerNombre) @Html.DisplayFor(model => model.PrimerApellido)
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 ">
            <label>Fecha de Nacimiento: </label>   @Model.Fecha_de_nacimiento.ToShortDateString()
        </div>
        <div class="col-md-6 ">
            <label>Dirección: </label> Comuna No.   @Html.DisplayFor(model => model.Direccion)
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 ">
            <label>Correo: </label>   @Html.DisplayFor(model => model.Correo)
        </div>
        <div class="col-md-6 ">
            <label>Téléfono: </label> @Html.DisplayFor(model => model.Telefono)
        </div>
    </div>


   
    <br />
    <div class="row">
        <div class="col-md-12 text-right">
            <a href="/Usuario" class="btn botonRegresar btn-sm" id="n"><i class="glyphicon glyphicon-circle-arrow-left"></i>&nbsp;Volver</a>
        </div>
    </div>
    <br />

</div>
